.results {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    padding:10px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  }
  

  @media (min-width: 400px) and (max-width: 1440px) {
    .results {
        grid-template-columns: repeat(3, 1fr);
    }

  }