<mat-toolbar>
  <img src="assets/Modernize.png" height="39" alt="Logo">
  <span class="spacer"></span> <!-- Spacer to push items to the sides -->
  <app-searchbar></app-searchbar>
  <span class="flexible-spacer"></span> 
  <button mat-icon-button>
    <mat-icon>message</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon matBadge="5"aria-hidden="false" matBadgeColor="primary">notifications_none</mat-icon>
  </button>
  <span class="spacer"></span> 
  <img src="assets/Women-Pigtail-Glasses.png" height="39" alt="user-image">
   <span>X’eriya Ponald</span>

  <button mat-icon-button>
   <mat-icon>expand_more</mat-icon>
  </button>
</mat-toolbar>
