.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #131523;
    font-weight: 700;
    margin-right: 80px;
    margin-left: 30px;
    margin-top: 30px;
}
