
mat-nav-list {
<<<<<<< HEAD
    width: 250px;
=======
    width: 55px;
>>>>>>> master
    height: 1168px;
    background: #F5F6FA;
    color:#5A607F;
}
<<<<<<< HEAD
=======

mat-nav-list:hover {
    width: 250px;
}

.active {
    background-color: #4CAF50; /* Green background for active items */
    mat-icon {
        color: white;
    }
    span {
        color:white;
    }
  }

mat-list-item {
    border-radius: 0 20px 20px 0;
}
>>>>>>> master
  
.centered-content {
    width: 100%;
    display:list-flex;
    align-items: center;
}

mat-icon {
    vertical-align: middle;
}

.item-text{
    margin-left: 10px;
    font-size: 14px;
}

<<<<<<< HEAD
.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #131523;
    margin: 30px;
    font-weight: 700;
}

=======
>>>>>>> master
p {
    margin:10px;
}

<<<<<<< HEAD
=======
.mat-sidenav-content {
    min-height: 100vh;
    min-width: 100%;
}

>>>>>>> master
