
mat-nav-list {
    width: 55px;
    height: 1168px;
    background: #F5F6FA;
    color:#5A607F;
}

mat-nav-list:hover {
    width: 250px;
}

.active {
    background-color: #4CAF50; /* Green background for active items */
    mat-icon {
        color: white;
    }
    span {
        color:white;
    }
  }

mat-list-item {
    border-radius: 0 20px 20px 0;
}
  
.centered-content {
    width: 100%;
    display:list-flex;
    align-items: center;
}

mat-icon {
    vertical-align: middle;
}

.item-text{
    margin-left: 10px;
    font-size: 14px;
}

p {
    margin:10px;
}

.mat-sidenav-content {
    min-height: 100vh;
    min-width: 100%;
}

